{% extends "layout.html.twig" %}

{% block page_title %}
    Affiche Recette
{% endblock %}

{% block content %}




    {#       --------------------------------------------------------      #}


            {#         CONTENU PRINCIPAL DE AUTEUR       #}



    <div class="container">
    <div class="card">
        <div class="card-content center-align">
            <img style="width: 10%; padding: 10px;" src="{{ asset(auteur.avatar) }}" class="circle responsive-img" alt="photo de profil auteur">
            <h5>{{ auteur.name ~ auteur.firstname }}</h5>
        </div>
        <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
                <li class="tab"><a href="#plat">Mes plats</a></li>
                <li class="tab"><a class="active" href="#messages">Mes messages</a></li>
                <li class="tab"><a href="#profil">Mon profil</a></li>
            </ul>
        </div>
        <div class="card-content grey lighten-4">
            <div id="plat">

                <div class="button2">
                    <a href="{{ url("editor") }}" class="waves-effect waves-light btn-large z-depth-3" id="button2">Mettez en vente votre nouveau plat :)</a>
                </div>
                <div class="ajoutplats col s12 z-depth-3">
                    <div class="row  valign-wrapper">
                        <div class="col s2"><img class="responsive-img " src="https://www.rd.com/wp-content/uploads/2017/10/12_Citrus_Healthy-Holiday-Food-Gifts-Instead-of-Fruit-Cake_524210419-ch_ch.jpg" id="logo2"></div>
                        <div class="col s2">
                            <p>Nom du plat</p>

                        </div>
                        <div class="col s2">
                            <p><em>Ingrédients :</em></p>
                        </div>
                        <div class="col s2">
                            <p> <a class="btn-floating btn-large waves-effect waves-light blue" style="font-size: 0.7em">Nb/parts</a></p>
                        </div>
                        <div class="col s2">
                            <p>Heure</p>
                        </div>
                        <div class="col s2">
                            <p> <a class="btn-floating btn-large waves-effect waves-light green" style="font-size: 0.7em">Prix</a></p>
                        </div>
                    </div>
                    <a class="waves-effect waves-light btn button-remettre">Remettre ce plat en vente</a>

                </div>




            </div>
            <div id="messages">
                <div class="col s12 m6" id="right-panel-message">

                    <div class="col s12" style="background-color: rgba(128,128,128,0.05); margin-top:10px; overflow: auto; max-height:500px;" id="review-container">
                        {% for review in reviews %}
                            {% if review.user.id == app.session.get('userId') %}
                                {% set class = 'auteur-message' %}
                            {% else %}
                                {% set class = 'other-message' %}
                            {% endif %}
                            <div class="container">
                                <div class="col s12 z-depth-2 un-commentaire {{ class }}" style="margin: 5px;">
                                    <span><img style="width: 15%; padding: 5px;" src="{{ asset(review.user.avatar) }}" class="circle img-responsive" alt="photo de profil commentaire"> <em> {{ review.user.name }} </em></span>
                                    <p>{{ review.comments }}</p>
                                    <p>Note : {{ review.notes }}/5</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <form class="col s12" method="post" action="{{ url("sendReview", { user1 :  app.session.get('userId')}) }}" id="form-review">
                        <div class="row">
                            <div class="input-field col s12 valign-wrapper">
                                <i class="material-icons prefix">mode_edit</i>
                                <textarea name="comments" id="icon_prefix2" class="materialize-textarea" data-length="140" maxlength="140"></textarea>
                                <label for="icon_prefix2">Votre commentaire</label>

                                <button type="submit" class="btn-floating btn waves-effect waves-light" id="submit-form-review"> <i class="material-icons">send</i>
                                </button>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col s12">
                                Mettez une note au cuisto
                                <div class="input-field inline">
                                    <input id="note" name="notes">
                                    <label for="note">Note</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div id="profil">


                <div class="col s12 m12" style="padding-bottom: 40px;">


                    <br>

                    <div class="col s12">
                        <a href=""><p>{{ auteur.mail }}</p></a>

                        <hr>
                    </div>

                    <div class="col s12">
                        <a href=""><p>Modifier le mot de passe</p></a>

                        <hr>
                    </div>


                    <div class="col s12">
                        <p>Ici vous pouvez trouver la note</p>

                        <hr>
                    </div>

                    <div class="col s12">
                        <p>
                                {#               Changement de Theme                #}
                            <form action="{{ url('personnalisation') }}" method="POST" class="form-template">
                                <select class="select-template" name="template">
                                    <option value="template-01">Blue & White</option>
                                    <option value="template-02">Dark & Grey</option>
                                    <option value="template-03">Purple & Camel</option>
                                </select>

                                <input type="submit" id="submit-template">
                            </form>
                        </p>

                        <hr>
                    </div>


                    <div class="col s12">
                        <p>ici vous pouvez trouver une bio écrite par l'auteur</p>

                        <hr>
                    </div>






                </div>
            </div>
        </div>







    {##}
    {#<div class="auteur-container">#}
    {#<div class="auteur-nom"> {{ auteur.name }} {{ auteur.firstname }}</div>#}
    {#<div class="image-container">#}
    {#<div class="image"><img src="{{ auteur.avatar }}"></div>#}
    {#</div>#}

    {#<div class="informations-container"></div>#}

    {#<div class="suggestions-container">#}
    {#<div class="suggestions-titre"></div>#}
    {#</div>#}

    {#</div>#}

    {#<div class="reviews-container">#}
    {#{% for review in reviews %}#}
    {#<div class="review-container">#}
    {#<div class="avatar-container">#}
    {#<div class="avatar"></div>#}
    {#<div class="review-auteur"></div>#}
    {#</div>#}
    {#<div class="review">#}
    {#<div class="review-content"></div>#}
    {#<div class="review-note"></div>#}
    {#</div>#}
    {#</div>#}
    {#{% endfor %}#}
    {#</div>#}




    {#       END CONTENU PRINCIPAL DE AUTEUR     #}


    {#       --------------------------------------------------------      #}



{% endblock %}