{% block content %}

    <div class="mesrecettes">
        <h3> Mes Recettes </h3>
        <input type="text" class="mesrecettes-recherche form-control col-xs-8" placeholder="Recherche...">
        <ul class="mesrecettes-tableau">
            <li>
                <ul>
                    <li class="mesrecettes-container mesrecettes-container-image">Image</li>
                    <li class="mesrecettes-container">Nom</li>
                    <li class="mesrecettes-container">Categories</li>
                    <li class="mesrecettes-container">Prix / Notes</li>
                </ul>
            </li>

            {% set i = 0 %}

            {% for recette in recettes %}

                {% set i = i + 1 %}

                {% if i % 2 == 0 %}
                    {% set color = 'grey' %}
                {% else %}
                    {% set color = 'black' %}
                {% endif %}


                <li class="mesrecettes-reponse-container">
                    <ul class="mesrecettes-response">
                        <li class="mesrecettes-container {{ color }} mesrecettes-container-image image-container"><img class="mesrecettes-image" src="{{ asset  (recette.image) }}"></li>
                        <li class="mesrecettes-container {{ color }}"><a class="mesrecettes-titre" href="{{ url('recette', { id : recette.id | lower }) }}">{{ recette.titre }}</a></li>
                        <li class="mesrecettes-container {{ color }}">
                            {% for categorie in recette.categorie %}
                                <a href="{{ url('categorie', { libellecategorie : categorie.libelle | lower }) }}">#{{ categorie.libelle }}</a>
                            {% endfor %}
                        </li>
                        <li class="mesrecettes-container {{ color }}">{{ recette.prix }}.00 $     <span class="mesrecettes-note"><a href="{{ url('auteur') }}" </span> </li>
                    </ul>
                </li>
            {% endfor %}

        </ul>
    </div>

{% endblock %}